@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --body-bg: #f4f9fb;
  --box-bg: #fff;
  --input-bg: #f5f8ff;
  --input-border: #3c6ba1;
  --txt-color: #201e20;
  --txt-second-color: #918f8f;
  --progress-bar: #6200ea;
  --browse-txt-color: blue;
  --error-message: #ba2626;
  --element-grey-color: #0000000d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: var(--body-bg);
  color: var(--txt-color);
  line-height: 1.5;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 100px;
}

.box {
  background-color: var(--box-bg);
  padding: 30px;
  border-radius: 20px;
  box-shadow: var(--element-grey-color) 0px 8px 24px;
}
